// Palette color codes */
// Palette URL: http://paletton.com/#uid=20p0u0kz-mlpdumu+r0GHhVPfcp */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #B24800;	// Main Primary color */
$color-primary-1: #F28033;
$color-primary-2: #D75B07;
$color-primary-3: #8F3A00;
$color-primary-4: #632800;

$color-complement-0: #00715E;	// Main Complement color */
$color-complement-1: #209985;
$color-complement-2: #048872;
$color-complement-3: #005A4B;
$color-complement-4: #003F34;



// As RGBa codes */

$rgba-primary-0: rgba(178, 72,  0,1);	// Main Primary color */
$rgba-primary-1: rgba(242,128, 51,1);
$rgba-primary-2: rgba(215, 91,  7,1);
$rgba-primary-3: rgba(143, 58,  0,1);
$rgba-primary-4: rgba( 99, 40,  0,1);

$rgba-complement-0: rgba(  0,113, 94,1);	// Main Complement color */
$rgba-complement-1: rgba( 32,153,133,1);
$rgba-complement-2: rgba(  4,136,114,1);
$rgba-complement-3: rgba(  0, 90, 75,1);
$rgba-complement-4: rgba(  0, 63, 52,1);
