.pagination {
  width: 90vw;
  font-size: 1.4em;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid #FFF;
}

.c-eventsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8em;
  width: 100vw;
  margin: auto 0;
  .events__eventcard {
    padding: 20px 0 20px 0;
    width: 90vw;
    align-self: center;
  }
}
