.pagination {
  width: 100%;
  font-size: 1.4em;
  margin: 0 auto;
  border: 1px solid #FFF;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  span {
    margin: 0 auto;
  }
}

.c-eventsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8em;
  width: 100%;
  margin: auto 0;
  padding: 20px;
  .events__eventcard {
    padding: 20px;
    width: 100%;
    align-self: center;
    border-bottom: 1px solid #FFF;
    .media-heading {
      color: $color-complement-1;
    }
  }
  .events__eventcard:nth-last-child(2) {
    border-bottom: none;
  }
}
