@import "variables";

footer {
  color: #FFF;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $rgba-primary-opacity;
}

.c-background-image {
  position: fixed;
  background: url('../img/tootlesbgrustic.jpg');
  background-position: center;
  background-size: cover;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(2px);
}

.c-background-overlay {
  position: fixed;
  background: $color-primary-4;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 2;
}

.wrapper {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.c-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  font-size: .8rem;
  width: 100%;
  .c-layout__content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    flex: 2;

  }
  .c-layout__main,
  .c-layout__aside {
    h3 {
      font-size: 1em;
    }
  }

  .c-layout__main {
    margin-right: 30px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  .header__logo {
    fill: #fff;
    max-width: 1200px;
    
  }
}

@media (max-width: 760px) {
  
  .c-background-image {
    background-image: none;
  }
  .c-background-overlay {
    opacity: 1;
  }
  .c-layout {
    font-size: 1rem;
    .c-layout__main,
    .c-layout__aside {
      h3 {
        font-size: inherit;
      }
    }
    .c-layout__main {
      width: 100vw;
      margin-right: 0;
      h3 {
        font-size: inherit;
      }
    }
    .c-layout__aside {
      width: 100%;
    }
  }
}

@media (min-width: 760px) {
  .c-layout__main {
    width: 30vw;
  }
  .c-layout__aside {
    max-width: 20vw;
  }
  .content-box {
    font-size: 1.1em;
  }
}

.header {
  margin-bottom: 1.45rem;
  .header__nav__nav-item {
    text-align: center;
  }
}

.c-navigation {
  &__text-center {
    text-align: center;
  }
  &__navlink {
    margin: 12px 24px 12px 0;
    a {
      color: #FFF;
    }
  }
}

.content-box {
  color: #FFF;
  width: 100%;
  padding: 0;
  margin: 25px 0;
  background: $rgba-primary-opacity;
  &__header-tab {
    padding: 10px;
    margin-bottom: 10px;
    background: $color-primary-2;
  }
}

.content-padding {
  padding: 0 20px 20px 20px;
}

footer {
  text-align: center;
  padding: 50px 0;
}
