@import "variables";

footer {
  color: #FFF;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $rgba-primary-opacity;
}

.c-background-image {
  position: fixed;
  background: url('../img/tootlesbg.jpg');
  background-position: center;
  background-size: cover;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
}

.c-background-overlay {
  position: fixed;
  background: $color-primary-4;
  height: 100vh;
  width: 100vw;
  opacity: .8;
  z-index: 2;
}

.c-layout {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
}

.header {
  margin-bottom: 1.45rem;
  .header__logo {
    text-align: center;
  }
  .header__nav__nav-item {
    text-align: center;
  }
}

.c-navigation {
  // background: black;
  &__text-center {
    text-align: center;
  }
  &__navlink {
    margin: 12px 0 12px 0;
    a {
      color: #FFF;
    }
  }
}

.content-box {
  color: #FFF;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: $rgba-primary-opacity;
  h3 {
    padding: 10px;
    background: $color-primary-2;
  }
}
